/* Home.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px;
  }
  
  .navbar {
    position: sticky; /* Makes the navbar stick */
    top: 0; /* Stick at the top */
    background-color: #333;
    padding: 10px 20px;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top of other content */
  }
  
  .navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 20px;
  }
  
  .navbar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .navbar button:hover {
    background-color: #0056b3;
  }
  
  .quiz-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    gap: 70px 90px;
    max-width: 1300px;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    padding-right: 50px;
  }
  
  .quiz-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: transform 0.3s ease;
    width: 370px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .quiz-card:hover {
    transform: scale(1.05);
  }
  
  .quiz-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .quiz-card h3 {
    margin: 15px 0;
    color: #333;
    font-size: 1.8rem;
  }
  
  .quiz-card button {
    padding: 14px 24px;
    font-size: 1.2rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .quiz-card button:hover {
    background-color: #0056b3;
  }
  
  h1 {
    color: #333;
    font-size: 2.8rem;
    margin-bottom: 30px;
  }
  
  p {
    color: #555;
    font-size: 1.3rem;
    line-height: 1.6;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
  }
  
  .footer a {
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  